#Contact{
    margin-bottom: 5%;
}


#Contact h1{
    font-family: 'Syncopate', sans-serif;
    font-size: 5rem;
    color: #CEC5C8;
}

#Contact p {
    font-family: 'Lato', sans-serif;
    color:#504448;
}

#Contact a {
    color: #262022;
}

#Contact form {
    margin-top: 80px;
}

#Contact input, #Contact button, #Contact textarea{
    display: block;
    margin: 40px auto 0;
    width: 35vw;
    height: 50px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
   
    
    border-style: solid;
}

#Contact input, #Contact textarea{
    border-color:#CEC5C8 ;
    background-color:#463b3e;
    color: white;
}

#Contact input::placeholder, #Contact input:focus , #Contact textarea::placeholder ,  #Contact textarea:focus{
    color: white;
}

#Contact button{
    border-color: #463b3e;
    background-color: white;
    color: #463b3e;
}

#Contact button:hover{
    cursor: pointer;
    background-color: #463b3e;
    color: white;
}


#Contact .socials{
    text-decoration: none;
    font-size: 4rem;
    padding: 20px;
    color: #463b3e;
}

#Contact .socials:hover{

    color: #CEC5C8 ;
}